IPS_ARC RCDATA
MOVEABLE PURE LOADONCALL DISCARDABLE
LANGUAGE LANG_NEUTRAL, 0
IPS.ARC

PSP_GAME_ARC RCDATA
MOVEABLE PURE LOADONCALL DISCARDABLE
LANGUAGE LANG_NEUTRAL, 0
PSP_GAME.ARC

README RCDATA
MOVEABLE PURE LOADONCALL DISCARDABLE
LANGUAGE LANG_NEUTRAL, 0
..\Readme.txt

INSTRUCTION RCDATA
MOVEABLE PURE LOADONCALL DISCARDABLE
LANGUAGE LANG_NEUTRAL, 0
..\Instruction.txt